/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    padding: 20px;
    margin: 0%;
}

.home {
    text-align: center;
    margin: auto;
}

button {
    padding: 10px;
    border: none;
    border-radius: 16px;
    font-weight: bold;
}

.card {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid;
    margin-top: 8px;
    margin-bottom: 8px;
}

.users-list {
    display: grid;
    gap: 1rem;
}

/* SMALL SCREENS */
@media (min-width: 640px) {
    .users-list {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
}

/* MEDIUM SCREENS */
@media (min-width: 768px) {
    .users-list {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
}

/* LARGE SCREENS */
@media (min-width: 1024px) {
    .users-list {
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    }
}